.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 90vw;

}

.card-img-top {
    border-bottom: .5px solid rgb(229, 223, 223);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 1%;
    width: 450px;
    padding: 1%;
    background-color: rgba(243, 46, 190, 0.55) !important;
    color: azure; 
}

.textDeployed{
    display: none;
    text-decoration: none;
    color: azure;
}

.textGithub{
    display: none;
    text-decoration: none;
    color: azure;
}

.textTechs{
    display: none;
    text-decoration: none;
    color: azure;
}

@media screen and (min-width: 901px) {
    .card:hover {
        width: 540px;
        overflow-y: visible;
        animation-duration: 3s;
        transition-duration: .5s;
        padding-bottom: 40px;
    }
    
    .card:hover .textDeployed {
        position: absolute;
        bottom: 2%;
        left: 7%;
        display: block;
    }
    
    .card:hover .textGithub {
        position: absolute;
        bottom: 2%;
        right: 7%;
        display: block;
    }
    
    .card:hover .textTechs {
        position: absolute;
        bottom: 7%;
        left: 7%;
        display: block;
    }
}


@media screen and (max-width: 900px) {
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 1%;
        width: 450px;
        padding: 1%;
        padding-bottom: 40px;
    }
    
    .textDeployed{
        position: absolute;
        bottom: 2%;
        left: 7%;
        display: block;
    }
    
    .textGithub{
        position: absolute;
        bottom: 2%;
        right: 7%;
        display: block;
    }
    
    .textTechs{
        position: absolute;
        bottom: 7%;
        left: 7%;
        display: block;
    }
}