.nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
}



.nav-link{
        color: azure !important;
        text-decoration: none;
}

.active {
        color: black !important;
        background-color: azure !important;
}
